<h1>Please sign in or create a new user.</h1>
<div id="home">
  <form method = "post" action="authenticate">

    <input type="text" name="username" placeholder="Username"><br>

    <input type="password" name="password" placeholder="Password"><br>
 
    <input type="submit" name="button" value="Login"><br>

    <input type="submit" name="button" value="Add User"><br>

  </form>
</div>